<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Finance Management System</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="nofollow">
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <header>
            <h1>Cashflow checker</h1>
            <nav class="main-navbar">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/sobre-nosotros">Sobre nosotros</a></li>
                    <li><a href="/documentacion">Documentación</a></li>
                </ul>
            </nav>
        </header>
        {% block content %}
        
        {% endblock content %}
        <footer>
            <ul>
                <li><a href="https://github.com/samulinaresf">Github</a></li>
                <li><a href="https://buymeacoffee.com/samli">Buymeacoffee</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/privacidad">Privacidad</a></li>
            </ul>
            <p>Copyright &copy Samuel Linares</p>
        </footer>
    </body>
</html>