{% extends "base.html" %}
{% block content %}
        <div class="content">
            <main>
                <div class="content__text">
                    <h2>Política de privacidad</h2>
                    <p id="update">Última actualización: 26/04/2025</p>
                    <ol>
                        <li><span>Tratamiento de datos:</span><br> Esta aplicación no almacena datos personales. Los archivos CSV que subes se procesan únicamente para mostrarte gráficas de tus finanzas personales y se eliminan automáticamente al cerrar o actualizar la página.</li>
                        <li><span>Finalidad:</span><br> El único objetivo del procesamiento de datos es visualizar tus datos financieros de forma temporal. No se realiza ningún tipo de seguimiento, perfilado ni análisis posterior.</li>
                        <li><span>Almacenamiento:</span><br> Los archivos subidos no se almacenan en servidores ni bases de datos. Toda la información se mantiene en memoria durante tu sesión activa y se borra al cerrar la página o refrescarla.</li>
                        <li><span>Terceros:</span><br> No compartimos información con terceros. No utilizamos servicios de analítica ni rastreo.</li>
                        <li><span>Seguridad:</span><br> A pesar de que no almacenamos información, usamos medidas básicas para asegurar que los datos solo estén accesibles por ti durante tu sesión.</li>
                    </ol>
                </div>
                
                <div class="content__text">
                    <h2>Política de cookies</h2>
                    <p id="update">Última actualización: [Fecha]</p>
                    <p>Este sitio no utiliza cookies propias ni de terceros. No se realiza ningún seguimiento de navegación, ni se almacenan datos en tu dispositivo.<p>
                </div>

                <div class="content__text">
                    <h2>Aviso legal</h2>
                    <p id="update">Última actualización: [Fecha]</p>
                    <ol>
                        <li><span>Titularidad del sitio:</span> Este sitio web ha sido desarrollado con fines educativos y personales. No constituye un servicio comercial ni está vinculado a ninguna entidad financiera.</li>
                        <li><span>Uso del contenido:</span> El usuario puede usar esta aplicación para visualizar temporalmente sus propios datos financieros. Queda prohibido el uso malintencionado, automatizado o fraudulento.</li>
                        <li><span>Exención de responsabilidad:</span> El desarrollador no se responsabiliza por decisiones tomadas en base a los datos visualizados en la plataforma, ni por problemas derivados de un uso inadecuado de los archivos subidos.</li>
                    </ol>
                </div>
            </main>
        </div>

{% endblock %}